<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/CorrezioneVerificaFILADISPARI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

fila 1 esercizio 2

1. caricare una lista con i primi 50 multipli di 5

In [ ]:
multipli = [i for i in range(5, 255, 5)]
print(multipli)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250]

In [ ]:
multipli = [i * 5 for i in range(1, 51)]
print(multipli)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250]

In [ ]:
multipli = [i for i in range(5, 255) if i % 5 == 0]
print(multipli)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250]

In [ ]:
len(multipli)

50

2. caricare in una nuova lista solo i multipli di 10

In [ ]:
multipli10 = [mul for mul in multipli if mul % 10 == 0]
print(multipli10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250]

3. eliminare dalla seconda lista tutti i valori compresi tra 30 e 60

In [ ]:
#soluzione sbagliata
count = 0
for valore in multipli10:
  if valore >= 30 and valore <= 160:
    multipli10.remove(valore)
    count += 1
print(multipli10)

[10, 20, 40, 60, 80, 100, 120, 140, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250]

In [ ]:
#fare metodo giusto per casa

4. caricare in una nuov lista i 5 elementi centrali

In [ ]:
#// divisione intera
multiplicentrali = []
print(len(multipli10))
multiplicentrali = (multipli10[len(multipli10) // 2-2:len(multipli10) // 2+3])
print(multiplicentrali)

25
[110, 120, 130, 140, 150]

5. moltiplicare per 10 tutti i numeri della lista precendente

In [ ]:
multiplicentrali = [prodotti * 10 for prodotti in multiplicentrali]
print(multiplicentrali)

[1100, 1200, 1300, 1400, 1500]

6. mettere in un'unica lista tutti i valori presenti nelle liste precedenti

In [ ]:
listaunica = multipli + multipli10 + multiplicentrali
print(listaunica)