<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/EserciziMatplotlibPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

caricare il file

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-province/dpc-covid19-ita-province-20221119.csv")
df

1. il numero di casi totali in Lombardia

In [ ]:
df[df["denominazione_regione"] == "Lombardia"]["totale_casi"].sum()

3886751

2. il numero di casi totali in ogni regione. Ordinare in ordine decrescente in base al numero di casi

In [ ]:
df.groupby("denominazione_regione")["totale_casi"].sum().reset_index().sort_values(by="totale_casi", ascending = False)

3. le regioni che hanno piÃ¹ di un milione di casi

In [ ]:
dfgroup = df.groupby("denominazione_regione")["totale_casi"].sum().reset_index()
dfgroup[dfgroup["totale_casi"] > 1000000][["denominazione_regione"]]

4. il numero di casi in Italia

In [ ]:
df[df["stato"] == "ITA"]["totale_casi"].sum()

24099206

5. la percentuale di casi in ogni regione rispetto al totale dei casi in Italia

In [ ]:
dfgroup2 = df.groupby("denominazione_regione")[["totale_casi"]].sum()
dfgroup2["totale_casi"]/df["totale_casi"].sum() * 100

**grafici**

6. un grafico a barre verticali per la richiesta numero 2

In [3]:
import matplotlib.pyplot as plt

In [ ]:
#salvo i dati
dfgroup3 = df.groupby("denominazione_regione")["totale_casi"].sum().reset_index().sort_values(by="totale_casi", ascending = False)
regione = dfgroup3["denominazione_regione"]
dati1 = dfgroup3["totale_casi"]

#imposto il grafico
fig, ax = plt.subplots(figsize=(40,20))
ax.bar(regione, dati1, label='totale casi in ogni regione')
ax.set_title('il numero totale di casi in ogni regione italiana')
ax.set_ylabel('casi (in milioni)')
ax.set_xlabel('regioni')
ax.legend()

7.  un grafico a barre orizzontali per la richiesta numero 2

In [ ]:
dfgroup3 = df.groupby("denominazione_regione")["totale_casi"].sum().reset_index().sort_values(by="totale_casi", ascending = False)
regione = dfgroup3["denominazione_regione"]
dati2 = dfgroup3["totale_casi"]

#imposto il grafico
fig, ax = plt.subplots(figsize=(40,20))
ax.barh(regione, dati2, label='totale casi in ogni regione')
ax.set_title('il numero totale di casi in ogni regione italiana')
ax.set_xlabel('casi (in milioni)')
ax.set_ylabel('regioni')
ax.legend()

8. un grafico a torta per la richiesta numero 5

In [ ]:
dfgroup4 = df.groupby("denominazione_regione")["totale_casi"].sum().reset_index()
regione2 = dfgroup4["denominazione_regione"]
dati3 = dfgroup4["totale_casi"]

#imposto il grafico a torta
plt.figure(figsize=(14, 10))
plt.pie(dati3, labels=regione2, autopct='%1.1f%%') 
plt.show()