<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/LotortoPreparazioneVerificaPandasMatplotlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
df = pd.read_csv("https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/platea.csv")

In [20]:
df

    area      reg    eta  totale_popolazione
0    ABR  Abruzzo  05-11               76431
1    ABR  Abruzzo  12-19               94727
2    ABR  Abruzzo  20-29              125230
3    ABR  Abruzzo  30-39              146965
4    ABR  Abruzzo  40-49              187162
..   ...      ...    ...                 ...
184  VEN   Veneto  40-49              715790
185  VEN   Veneto  50-59              806474
186  VEN   Veneto  60-69              610635
187  VEN   Veneto  70-79              494721
188  VEN   Veneto    80+              375784

[189 rows x 4 columns]

1. il numero di record presente nel file

In [ ]:
len(df)

2.  il numero di regioni presente nel file

In [ ]:
len(set(df["reg"]))

3. il numero di abitanti di ogni regione. Ordinare in ordine decrescente sul numero di abitanti

In [ ]:
df.groupby("reg")[["totale_popolazione"]].sum().sort_values(by="totale_popolazione", ascending = False)

4.  la regione con il numero di abitanti piÃ¹ alto

In [ ]:
dfreg = df.groupby("reg")[["totale_popolazione"]].sum().sort_values(by="totale_popolazione", ascending = False).reset_index()
dfreg

In [16]:
dfreg[dfreg["totale_popolazione"] == dfreg["totale_popolazione"].max()][["reg"]]

         reg
0  Lombardia

5.  il numero medio di abitanti delle regioni

In [8]:
df2 = df.groupby("reg")[["totale_popolazione"]].sum().reset_index()
df2["totale_popolazione"].mean()

2745240.6666666665

6.  le regioni che hanno piÃ¹ abitanti della media degli abitanti delle regioni

In [ ]:
df2[df2["totale_popolazione"] > df2["totale_popolazione"].mean()][["reg"]]

7.  la regione che ha piÃ¹ abitanti nella fascia 12-19

In [ ]:
eta = df[df["eta"] == "12-19"].groupby("reg")[["totale_popolazione"]].sum().sort_values(by="totale_popolazione", ascending = False).reset_index()
eta

In [ ]:
eta[eta["totale_popolazione"] == eta["totale_popolazione"].max()][["reg"]]

8.  il numero di abitanti per ogni fascia d'etÃ

In [ ]:
df.groupby("eta")[["totale_popolazione"]].sum()

9.  la fascia d'etÃ  con piÃ¹ abitanti

In [ ]:
eta_abitanti = df.groupby("eta")[["totale_popolazione"]].sum().sort_values(by="totale_popolazione", ascending = False).reset_index()
eta_abitanti[eta_abitanti["totale_popolazione"] == eta_abitanti["totale_popolazione"].max()][["eta"]]

10.   un grafico a barre orizzontali per l'esercizio 3

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
dati = df.groupby("reg")[["totale_popolazione"]].sum().sort_values(by="totale_popolazione", ascending = False).reset_index()
regioni = dati["reg"]
popolazioni = dati["totale_popolazione"]
fig, ax = plt.subplots(figsize=(15,8))
ax.barh(regioni, popolazioni, label='numero di abitati per ogni regione', color = ["red", "blue", "green", "yellow", "black"])
ax.set_ylabel("numero di abitanti (in milioni)")
ax.set_xlabel("regione")
ax.set_title('numero di abitati per ogni regione')

11.  un grafico a barre verticali per l'esercizio 8

In [ ]:
dati2 = df.groupby("eta")[["totale_popolazione"]].sum().reset_index()
fasce_eta = dati2["eta"]
popolazioni2 = dati2["totale_popolazione"]
fig, ax = plt.subplots(figsize=(15,8))
ax.bar(fasce_eta, popolazioni2, label="numero di abitati per ogni fascia d'etÃ ", color = ["red", "blue", "green", "yellow", "black"])
ax.set_xlabel("fasce d'etÃ ")
ax.set_ylabel("numero di abitanti (in milioni)")
ax.set_title("numero di abitati per ogni fascia d'etÃ ")

12. un grafico a torta per l'esercizio 3 che riporti le percentuali

In [ ]:
dati3 = df.groupby("reg")[["totale_popolazione"]].sum().sort_values(by="totale_popolazione", ascending = False).reset_index()
regioni2 = dati["reg"]
popolazioni3 = dati["totale_popolazione"]
plt.figure(figsize=(16, 12))
plt.pie(popolazioni3, labels=regioni2, autopct = '%1.0f%%') 
plt.show()