<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/LotortoPreparazioneVerificaPandasMatPlotLib2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
df = pd.read_csv("https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-province/dpc-covid19-ita-province-20221119.csv")
df

,data,stato,codice_regione,denominazione_regione,codice_provincia,denominazione_provincia,sigla_provincia,lat,long,totale_casi,note,codice_nuts_1,codice_nuts_2,codice_nuts_3
0,2022-11-19T17:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,123235,NaN,ITF,ITF1,ITF11
1,2022-11-19T17:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,143295,NaN,ITF,ITF1,ITF12
2,2022-11-19T17:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,142547,NaN,ITF,ITF1,ITF13
3,2022-11-19T17:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,171694,NaN,ITF,ITF1,ITF14
4,2022-11-19T17:00:00,ITA,13,Abruzzo,879,Fuori Regione / Provincia Autonoma,NaN,NaN,NaN,12772,NaN,ITF,ITF1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,2022-11-19T17:00:00,ITA,5,Veneto,27,Venezia,VE,45.434905,12.338452,420955,NaN,ITH,ITH3,ITH35
145,2022-11-19T17:00:00,ITA,5,Veneto,28,Padova,PD,45.406930,11.876087,488071,NaN,ITH,ITH3,ITH36
146,2022-11-19T17:00:00,ITA,5,Veneto,29,Rovigo,RO,45.071073,11.790070,108879,NaN,ITH,ITH3,ITH37
147,2022-11-19T17:00:00,ITA,5,Veneto,899,Fuori Regione / Provincia Autonoma,NaN,NaN,NaN,37545,NaN,ITH,ITH3,NaN
148,2022-11-19T17:00:00,ITA,5,Veneto,999,In fase di definizione/aggiornamento,NaN,NaN,NaN,12075,NaN,ITH,ITH3,NaN

1. visualizzare il numero di provincie

In [ ]:
len(set(df["denominazione_provincia"]))

2. visualizzare il numero dei casi totale per ogni regione. Ordinare in modo decrescente il numero di casi

In [ ]:
dfreg = df.groupby("denominazione_regione")[["totale_casi"]].sum().sort_values(by="totale_casi", ascending = False).reset_index()
dfreg

3. visualizzare la regione con più casi

In [ ]:
dfreg[dfreg["totale_casi"] == dfreg["totale_casi"].max()][["denominazione_regione"]]

4. visualizzare le regioni con longitudine nulla

In [ ]:
print(set(df[df.long.isnull()]["denominazione_regione"]))

5. visualizzare il numero di casi per ogni provincia

In [ ]:
dfprov = df.groupby("denominazione_provincia")[["totale_casi"]].sum().sort_values(by="totale_casi", ascending = False).reset_index()
dfprov

6. visualizzare la provincia con meno casi

In [ ]:
dfprov[dfprov["totale_casi"] == dfprov["totale_casi"].min()][["denominazione_provincia"]]

7. fare grafico a barre verticali dell'esercizio 2

In [31]:
import matplotlib.pyplot as plt

In [ ]:
dati = df.groupby("denominazione_regione")[["totale_casi"]].sum().sort_values(by="totale_casi", ascending = False).reset_index()
regioni = dati["denominazione_regione"]
casi = dati["totale_casi"]
fig, ax = plt.subplots(figsize=(15,8))
ax.bar(regioni, casi, label='numero di casi per ogni regione', color = ["red", "blue", "green", "yellow", "black"])
ax.set_ylabel("numero di casi")
ax.set_xlabel("regione")
ax.set_title('numero di casi per ogni regione')
plt.xticks(rotation = 70)

8. visualizzare la percentuale dei casi di ogni regione rispetto all'intera popolazione italiana

In [ ]:
popolazione_italiana = 60000000
dfperc = df.groupby("denominazione_regione")[["totale_casi"]].sum()/popolazione_italiana * 100
dfperc