<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/PreparazioneVerificaDicembre2022LOTORTO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

caricare il file

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/consegne-vaccini-latest.csv")

In [ ]:
df

1. visualizzare il numero totale di record presenti nel file

In [ ]:
len(df. index)

7550

2. visualizzare il numero di record presenti relativi ad una regione inserita dall'utente

In [ ]:
regione_inserita = input("Inserire una regione: ")
df[df["reg"] == regione_inserita]["reg"].count()

Inserire una regione: Lombardia

360

3. modificare l'esercizio precedente per rispondere con un messaggio appropriato se la regione non Ã¨ presente

In [ ]:
regione_inserita = input("Inserire una regione: ")
if regione_inserita not in list(df["reg"]):
  print("la regione inserita non esiste")
else:
  print(df[df["reg"] == regione_inserita]["reg"].count())

4. visualizzare il numero totale di vaccini consegnati in una regione inserita dall'utente

In [ ]:
regione_inserita = input("Inserire una regione: ")
df[df["reg"] == regione_inserita]["numero_dosi"].sum()

Inserire una regione: Abruzzo

3459924

5. visualizzare il numero totale di vaccini per ogni fornitore

In [ ]:
df.groupby("forn")[["numero_dosi"]].sum()

6.  visualizzare il numero di vaccini per ogni fornitore di una regione inserita dall'utente. Ordinare in ordine
decrescente sul numero di vaccini

In [ ]:
regione_inserita = input("Inserire una regione: ")
vac = df[df["reg"] == regione_inserita]
dosi = vac.groupby("forn")[["numero_dosi"]].sum().reset_index()
dosi

Inserire una regione: Lombardia

                      forn  numero_dosi
0                  Janssen       309490
1                  Moderna      4879456
2                  Novavax       177300
3        Pfizer Pediatrico      1332000
4          Pfizer/BioNTech     18675574
5  Vaxzevria (AstraZeneca)      2190389

7. visualizzare le informazioni dell'esercizio 6 con un grafico a barre verticali e uno a barre orizzontali. Indicare in modo appropriato il titolo, la legenda e le informazioni presenti negli assi

In [4]:
import matplotlib.pyplot as plt

In [ ]:
dati = df.groupby("forn")[["numero_dosi"]].sum().sort_values(by="numero_dosi", ascending = False).reset_index()
fornitore = dati["forn"]
nDosi = dati["numero_dosi"]

fig, ax = plt.subplots(figsize=(15,8))
ax.bar(fornitore, nDosi, label='totale di vaccini per ogni fornitore')
ax.set_ylabel("numero di dosi (in milioni)")
ax.set_xlabel("fornitore del vaccino")
ax.set_title('totale di vaccini per ogni fornitore')
ax.legend()

In [ ]:
dati = df.groupby("forn")[["numero_dosi"]].sum().sort_values(by="numero_dosi", ascending = False).reset_index()
fornitore = dati["forn"]
nDosi = dati["numero_dosi"]

fig, ax = plt.subplots(figsize=(15,8))
ax.barh(fornitore, nDosi, label='totale di vaccini per ogni fornitore')
ax.set_ylabel("fornitore del vaccino")
ax.set_xlabel("numero di dosi (in milioni)")
ax.set_title('totale di vaccini per ogni fornitore')
ax.legend()

8. visualizzare le informazioni dell'esercizio 6 con un grafico a torta

In [ ]:
dati = df.groupby("forn")[["numero_dosi"]].sum().sort_values(by="numero_dosi", ascending = False).reset_index()
fornitore = dati["forn"]
nDosi = dati["numero_dosi"]
plt.figure(figsize=(16, 8))
plt.pie(nDosi, labels=fornitore, autopct = '%1.0f%%') 
plt.show()

9.  visualizzare le informazioni dell'esercizio 6 con un grafico treemap (cercare su internet)

In [2]:
!pip install squarify

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting squarify
  Downloading squarify-0.4.3-py3-none-any.whl (4.3 kB)
Installing collected packages: squarify
Successfully installed squarify-0.4.3

In [ ]:
import squarify
dati = df.groupby("forn")[["numero_dosi"]].sum().sort_values(by="numero_dosi", ascending = False).reset_index()
fornitore = dati["forn"]
nDosi = dati["numero_dosi"]
squarify.plot(sizes=nDosi, label=fornitore, color=["red","green","blue", "grey", "orange", "yellow"], alpha=.4)
plt.axis('off')
plt.show()

10. visualizzare i nomi delle tre regioni in cui sono stati consegnati piÃ¹ vaccini

In [ ]:
dfgroup = df.groupby("reg")[["numero_dosi"]].sum().sort_values(by="numero_dosi", ascending = False).reset_index()
dfgroup.head(3)[["reg"]]

         reg
0  Lombardia
1      Lazio
2   Campania

11. visualizzare i nomi delle regioni in cui sono stati consegnati un numero di vaccini inferiore alla media dei vaccini consegnati nelle regioni

In [ ]:
dfgroup[dfgroup["numero_dosi"] < dfgroup["numero_dosi"].mean()][["reg"]]

12.  visualizzare il grafico delle consegne dei vaccini in Lombardia e nel Lazio. Visualizzare solo i dati delle
consegne avvenute negli ultimi sei mesi. Fare in modo che la data sia determinata in modo automatico (cercare su internet)

In [ ]:
#ESERCIZIO SBAGLIATO
import matplotlib.dates as mdates #importa le date su python 
lombLaz = df[(df["reg"] == "Lombardia") & (df["reg"] == "Lombardia")]
dati = lombLaz.groupby("data_consegna")[["numero_dosi"]].sum().sort_values(by="numero_dosi", ascending = False).reset_index()

dates = pd.date_range('2022-6-30', periods= len(dati["data_consegna"]),  freq='m')

data = dati["data_consegna"]
nDosi = dati["numero_dosi"]

fig, ax = plt.subplots(figsize=(20,20))
date_form = mdates.DateFormatter("%y-%m-%d")
ax.xaxis.set_major_formatter(date_form)
ax.bar(data, nDosi, label='totale di vaccini lombardia')
plt.xticks(rotation=90)